body{
    background-color: rgb(203, 207, 212);
}
.main{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.row{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 display: flex;
 flex-direction: row;
 justify-content: center;  
}
.imagerow{
    display: flex;
    position: relative;
    top:10px;
    height: 50%;
    width: 50%;
}

.image1{
    /*animation: testAnimation1 6s linear infinite;*/
    position: absolute;
    width: 100%;
    height: 100%; 
}
.image2{
   /* animation: testAnimation2 6s linear infinite;*/
    position: absolute;
    width: 50%;
    height: 50%; 
}

.col{
    padding: 10%;
    margin-top: 5%;
}

@keyframes testAnimation1{
    0%{
      opacity: 0%;
    }

    50%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}
@keyframes testAnimation2{
    0%{
      opacity: 100%;
    }

    50%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}